* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --bg-dark: #0a0a0a;
    --accent-glow: #00f2ff;
    /* Ciano neon */
    --text-main: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 5%;
    background: rgba(10, 10, 10, 0.8);
    backdrop-filter: blur(10px);
    /* Effetto vetro */
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-logo {
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--accent-glow);
    text-shadow: 0 0 10px rgba(0, 242, 255, 0.5);
}

/* Menu Mobile Default */
.nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    /* Nascosto a destra */
    height: 100vh;
    width: 70%;
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s ease-in-out;
    list-style: none;
    gap: 2rem;
}

.nav-links.active {
    right: 0;
    /* Entra fluidamente */
}

/* Stile Hamburger */
.nav-hamburger {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-hamburger span {
    width: 25px;
    height: 3px;
    background: var(--text-main);
    transition: 0.3s;
}